/**
 * C: Center, R: Right, L: Left
 */
.l { text-align: left; }
.c { text-align: center; }
.r { text-align: right; }

.h { display: none; visibility: hidden; }
.highlight { background-color: #c7c1c1; }

/**
 * Colors
 */
/* .w { background-color: #FFFFFF; color: #000000; }
.b { background-color: #c9bfbf; color: #ffffff; } */

/**
 * Subject
 */
.sn { color: #095c01; }
.subject { width: 200px; min-width: 200px; color: rgb(0, 0, 0); overflow: hidden; }

/**
 * Credit Hour
 */
.ch { color: #91108a; }

/**
 * Mark Status
 */
.fm { color: #500d4c}
.pm { color: #502d00; }
.mo { color: #502d00; background-color:#dbd1d1;}
.gpa { color: #573202; }
.grade { color: #06087a; }

/**
 * Border: T: Top, R: Right, B: Bottom, L: Left
 */
.bb1 { border-bottom: 1px solid #CCCCCC; }
.bb2 { border-bottom: 2px solid #000000; }
.bl2 { border-left: 2px solid #052402; }
.bt2 { border-top: 2px solid #000000; }
.bt1 { border-left: 1px solid #052402; }

span.data { text-align: center; display: inline-block; min-width: 150px; width: 150px; overflow: hidden; border-bottom: 1px dashed rgb(0, 47, 255); }
span.data.long { width: 300px; }

body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    height: 100%;
    font-family: Arial, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
}

header{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width:100%;
   padding-inline: 4rem;
   margin-bottom:0.5rem
}

main{
    padding-inline: 4rem;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid #000000;
    background-color: #c3f3ff;
    overflow: hidden;
    margin-bottom:0.5rem ;
    width: 100%;
}

th, td { padding: 8px; }
th { color: #ffffff; font-weight: bold; vertical-align: center; }
thead tr.line1 { background-color: #ffffff; color: #000000; }
thead tr.line2 { background-color: #dfaeae; color: #000000; }
tbody { border: 2px solid #000000; }
tbody tr { border-bottom: 1px solid #999393; }

footer {
    display: flex;
    justify-content:flex-start;
    padding-inline: 4rem;
    min-width:800px;
}

footer table { width: 100%; }

#gradings thead th { color:black !important; }


/**
 * For web page's print view
 */
@media print {
    *, * *, * * *, * * * *, * * * * * { color: #000000!important; border-color: #000000!important; background-color: #ffffff!important; }
    .bb1 { border-color: #CCCCCC!important; }
    body { size: A4 portrait; }
}
